/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-image: url('../img/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    background-blend-mode: color-dodge;
}

#container {
    width: 100vw;
    margin: 20px 0 0 0;
    display: grid;
    grid-template-columns: repeat(6, minmax(110px, 200px));
    grid-template-rows: auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#actions {
    height: 30px;
    margin: 20px 10px;
    font-size: larger;
    -webkit-text-stroke: 0.2px rgb(255, 255, 255);
    -webkit-text-fill-color: black;
    background-color: lightgray;
    width: 400px;
    padding-top: 5px;
    border-radius: 10px;
    padding-left: 30px;
    border-style: black;
}

img {
    width: 100px;
    border-radius: 8px;
    box-shadow: grey 3px 3px 3px;
    background-color: white;
    cursor: pointer;
}

button {
    background: rgb(0, 17, 248);
    color: white;
    border: 1px solid #dadada;
    padding: 10px 10px;
    opacity: 1;
    transition: 0.3s;
    margin-right: 10px;
    border-radius: 12px;
}

button:hover {
    opacity: .6;
    color: white;
}

button:focus {
    outline: 0;
    /* background: rgba(138, 43, 226, .4); */
    color: white;
    font-weight: bold;
    background: black;
}